<a href="https://colab.research.google.com/github/sftSalman/tensoflowMaster/blob/main/mulitiOutput_tensroflow.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
try:
  # %tensorflow_version only exists in Colab.
  %tensorflow_version 2.x
except Exception:
  pass

import tensorflow as tf
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from tensorflow.keras.models import Model 
from tensorflow.keras.layers import Dense, Input
from sklearn.model_selection import train_test_split

In [3]:
def format_output(data):
    y1 = data.pop('Y1')
    y1 = np.array(y1)
    y2 = data.pop('Y2')
    y2 = np.array(y2)
    return y1, y2


def norm(x):
    return (x - train_stats['mean']) / train_stats['std']


def plot_diff(y_true, y_pred, title=''):
    plt.scatter(y_true, y_pred)
    plt.title(title)
    plt.xlabel('True Values')
    plt.ylabel('Predictions')
    plt.axis('equal')
    plt.axis('square')
    plt.xlim(plt.xlim())
    plt.ylim(plt.ylim())
    plt.plot([-100, 100], [-100, 100])
    plt.show()


def plot_metrics(metric_name, title, ylim=5):
    plt.title(title)
    plt.ylim(0, ylim)
    plt.plot(history.history[metric_name], color='blue', label=metric_name)
    plt.plot(history.history['val_' + metric_name], color='green', label='val_' + metric_name)
    plt.show()

In [5]:
URL = 'https://archive.ics.uci.edu/ml/machine-learning-databases/00242/ENB2012_data.xlsx'

In [6]:
df = pd.read_excel(URL)

In [7]:
df.head()

     X1     X2     X3      X4   X5  X6   X7  X8     Y1     Y2
0  0.98  514.5  294.0  110.25  7.0   2  0.0   0  15.55  21.33
1  0.98  514.5  294.0  110.25  7.0   3  0.0   0  15.55  21.33
2  0.98  514.5  294.0  110.25  7.0   4  0.0   0  15.55  21.33
3  0.98  514.5  294.0  110.25  7.0   5  0.0   0  15.55  21.33
4  0.90  563.5  318.5  122.50  7.0   2  0.0   0  20.84  28.28

In [10]:
df = df.sample(frac=1).reset_index(drop=True)

In [11]:
df.head()

     X1     X2     X3     X4   X5  X6    X7  X8     Y1     Y2
0  0.86  588.0  294.0  147.0  7.0   3  0.40   5  31.81  31.20
1  0.69  735.0  294.0  220.5  3.5   5  0.40   3  14.08  17.02
2  0.82  612.5  318.5  147.0  7.0   2  0.25   2  25.74  28.27
3  0.76  661.5  416.5  122.5  7.0   5  0.10   4  32.31  34.05
4  0.66  759.5  318.5  220.5  3.5   3  0.40   2  15.29  17.89

In [13]:
train,test = train_test_split(df,test_size=0.2)

In [20]:
train['X1']

668    0.64
313    0.74
299    0.98
256    0.98
662    0.98
       ...
56     0.64
304    0.66
335    0.98
30     0.71
548    0.66
Name: X1, Length: 614, dtype: float64

In [16]:
test.shape

(154, 10)

In [23]:
train_state = train.describe()
train_state

,X1,X2,X3,X4,X5,X6,X7,X8,Y1,Y2
count,614.000000,614.000000,614.000000,614.000000,614.000000,614.000000,614.000000,614.000000,614.000000,614.000000
mean,0.764642,671.435668,317.342834,177.046417,5.227199,3.498371,0.235342,2.780130,22.156101,24.421564
std,0.106641,88.452439,42.810064,45.303824,1.751278,1.114562,0.131921,1.532315,10.022708,9.434669
min,0.620000,514.500000,245.000000,110.250000,3.500000,2.000000,0.000000,0.000000,6.040000,10.900000
25%,0.667500,594.125000,294.000000,147.000000,3.500000,3.000000,0.100000,1.000000,13.000000,15.600000
50%,0.740000,686.000000,318.500000,220.500000,3.500000,4.000000,0.250000,3.000000,18.385000,21.535000
75%,0.850000,753.375000,343.000000,220.500000,7.000000,4.000000,0.400000,4.000000,31.287500,32.920000
max,0.980000,808.500000,416.500000,220.500000,7.000000,5.000000,0.400000,5.000000,42.960000,48.030000

In [24]:
train_state.pop('Y1')

count    614.000000
mean      22.156101
std       10.022708
min        6.040000
25%       13.000000
50%       18.385000
75%       31.287500
max       42.960000
Name: Y1, dtype: float64

In [27]:
train_state.pop('Y2')

count    614.000000
mean      24.421564
std        9.434669
min       10.900000
25%       15.600000
50%       21.535000
75%       32.920000
max       48.030000
Name: Y2, dtype: float64