<a href="https://colab.research.google.com/github/sftSalman/tensoflowMaster/blob/main/mulitiOutput_tensroflow.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
try:
  # %tensorflow_version only exists in Colab.
  %tensorflow_version 2.x
except Exception:
  pass

import tensorflow as tf
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from tensorflow.keras.models import Model 
from tensorflow.keras.layers import Dense, Input
from sklearn.model_selection import train_test_split

In [2]:
def format_output(data):
    y1 = data.pop('Y1')
    y1 = np.array(y1)
    y2 = data.pop('Y2')
    y2 = np.array(y2)
    return y1, y2


def norm(x):
    return (x - train_stats['mean']) / train_stats['std']


def plot_diff(y_true, y_pred, title=''):
    plt.scatter(y_true, y_pred)
    plt.title(title)
    plt.xlabel('True Values')
    plt.ylabel('Predictions')
    plt.axis('equal')
    plt.axis('square')
    plt.xlim(plt.xlim())
    plt.ylim(plt.ylim())
    plt.plot([-100, 100], [-100, 100])
    plt.show()


def plot_metrics(metric_name, title, ylim=5):
    plt.title(title)
    plt.ylim(0, ylim)
    plt.plot(history.history[metric_name], color='blue', label=metric_name)
    plt.plot(history.history['val_' + metric_name], color='green', label='val_' + metric_name)
    plt.show()

In [3]:
URL = 'https://archive.ics.uci.edu/ml/machine-learning-databases/00242/ENB2012_data.xlsx'

In [4]:
df = pd.read_excel(URL)

In [5]:
df.head()

     X1     X2     X3      X4   X5  X6   X7  X8     Y1     Y2
0  0.98  514.5  294.0  110.25  7.0   2  0.0   0  15.55  21.33
1  0.98  514.5  294.0  110.25  7.0   3  0.0   0  15.55  21.33
2  0.98  514.5  294.0  110.25  7.0   4  0.0   0  15.55  21.33
3  0.98  514.5  294.0  110.25  7.0   5  0.0   0  15.55  21.33
4  0.90  563.5  318.5  122.50  7.0   2  0.0   0  20.84  28.28

In [6]:
df = df.sample(frac=1).reset_index(drop=True)

In [7]:
df.head()

     X1     X2     X3      X4   X5  X6    X7  X8     Y1     Y2
0  0.62  808.5  367.5  220.50  3.5   5  0.40   4  16.77  16.79
1  0.98  514.5  294.0  110.25  7.0   4  0.25   2  28.18  30.18
2  0.76  661.5  416.5  122.50  7.0   3  0.25   3  36.59  36.44
3  0.69  735.0  294.0  220.50  3.5   4  0.10   5  11.11  14.46
4  0.82  612.5  318.5  147.00  7.0   2  0.25   3  24.70  28.77

In [8]:
train,test = train_test_split(df,test_size=0.2)

In [9]:
train['X1']

91     0.98
112    0.79
109    0.79
247    0.62
713    0.69
       ...
22     0.69
1      0.98
407    0.74
150    0.98
36     0.69
Name: X1, Length: 614, dtype: float64

In [10]:
test.shape

(154, 10)

In [11]:
train_state = train.describe()
train_state

,X1,X2,X3,X4,X5,X6,X7,X8,Y1,Y2
count,614.000000,614.000000,614.000000,614.000000,614.000000,614.000000,614.000000,614.000000,614.000000,614.000000
mean,0.764137,671.236156,316.864007,177.186075,5.238599,3.513029,0.235993,2.824104,22.321020,24.614251
std,0.103253,85.942688,43.789629,44.871046,1.751390,1.121782,0.130906,1.532148,10.202623,9.627262
min,0.620000,514.500000,245.000000,110.250000,3.500000,2.000000,0.000000,0.000000,6.010000,10.900000
25%,0.690000,612.500000,294.000000,147.000000,3.500000,3.000000,0.100000,2.000000,12.935000,15.485000
50%,0.740000,686.000000,318.500000,220.500000,3.500000,4.000000,0.250000,3.000000,19.030000,22.030000
75%,0.820000,735.000000,343.000000,220.500000,7.000000,5.000000,0.400000,4.000000,31.605000,33.137500
max,0.980000,808.500000,416.500000,220.500000,7.000000,5.000000,0.400000,5.000000,43.100000,48.030000

In [12]:
train_state.pop('Y1')

count    614.000000
mean      22.321020
std       10.202623
min        6.010000
25%       12.935000
50%       19.030000
75%       31.605000
max       43.100000
Name: Y1, dtype: float64

In [13]:
train_state.pop('Y2')

count    614.000000
mean      24.614251
std        9.627262
min       10.900000
25%       15.485000
50%       22.030000
75%       33.137500
max       48.030000
Name: Y2, dtype: float64

In [19]:
train_state= train_state.transpose()
train_state

,X1,X2,X3,X4,X5,X6,X7,X8
count,614.000000,614.000000,614.000000,614.000000,614.000000,614.000000,614.000000,614.000000
mean,0.764137,671.236156,316.864007,177.186075,5.238599,3.513029,0.235993,2.824104
std,0.103253,85.942688,43.789629,44.871046,1.751390,1.121782,0.130906,1.532148
min,0.620000,514.500000,245.000000,110.250000,3.500000,2.000000,0.000000,0.000000
25%,0.690000,612.500000,294.000000,147.000000,3.500000,3.000000,0.100000,2.000000
50%,0.740000,686.000000,318.500000,220.500000,3.500000,4.000000,0.250000,3.000000
75%,0.820000,735.000000,343.000000,220.500000,7.000000,5.000000,0.400000,4.000000
max,0.980000,808.500000,416.500000,220.500000,7.000000,5.000000,0.400000,5.000000

In [23]:
# Get the data from UCI dataset
URL = 'https://archive.ics.uci.edu/ml/machine-learning-databases/00242/ENB2012_data.xlsx'

# Use pandas excel reader
df = pd.read_excel(URL)
df = df.sample(frac=1).reset_index(drop=True)

# Split the data into train and test with 80 train / 20 test
train, test = train_test_split(df, test_size=0.2)
train_stats = train.describe()

# Get Y1 and Y2 as the 2 outputs and format them as np arrays
train_stats.pop('Y1')
train_stats.pop('Y2')
train_stats = train_stats.transpose()
train_Y = format_output(train)
test_Y = format_output(test)

# Normalize the training and test data
norm_train_X = norm(train)
norm_test_X = norm(test)

In [24]:
def fn_model():
  
  input_layer = Input(shape(len(train.columns)))
  first_dense =